@import "../../../styles/Varibles.css";

.banner-carousel {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.background-slider {
  height: 100%;
}

.slide {
  height: 600px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-label {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #0c2c48;
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  font-weight: 500;
  z-index: 10;
}

.group-label span {
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #e5e5e5 !important;
}

.carousel-navigation {
  position: absolute;
  bottom: 20px;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.control-button {
  background-color: #0c2c48;
  color: #e5e5e5 !important;
  font-family: "Montserrat", sans-serif;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.prev-button,
.next-button {
  background-color: #0c2c48;
  color: #e5e5e5 !important;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-button i,
.prev-button i,
.next-button i {
  font-size: 1.25rem !important;
}

.center-content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50% -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  max-width: 600px;
}

.welcome-text {
  margin-top: 10px;
}

.welcome-text p {
  font-size: 16px;
  color: #666;
}

.banner-carousel-dots {
  z-index: 10px;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  top: 90.5%;
}

.custom-dot {
  width: 15px !important;
  height: 15px !important;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  margin: 0 5px;
  background: transparent;
}

.custom-dot.active {
  background-color: #308113;
}

.banner-carousel-dots li {
  margin: 0;
}

.slick-dots li button::before {
  display: none;
}
@media (max-width: 1600px) {
  .banner-carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .background-slider {
    height: 100%;
  }
  .slide {
    height: 600px;
  }
  .group-label {
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 1.5rem 1.5rem;
  }
  .group-label span {
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .carousel-navigation {
    position: absolute;
    bottom: 20px;
    left: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }
  .control-button {
    background-color: #0c2c48;
    color: #e5e5e5 !important;
    font-family: "Montserrat", sans-serif;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .prev-button,
  .next-button {
    background-color: #0c2c48;
    color: #e5e5e5 !important;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .control-button i,
  .prev-button i,
  .next-button i {
    font-size: 1.25rem !important;
  }
  .center-content {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50% -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
  }
  .welcome-text {
    margin-top: 10px;
  }
  .welcome-text p {
    font-size: 16px;
    color: #666;
  }
  .slick-dots {
    z-index: 10px;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 90.5%;
  }
  .custom-dot {
    width: 15px !important;
    height: 15px !important;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 5px;
    background: transparent;
  }
  .custom-dot.active {
    background-color: #308113;
  }
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li button::before {
    display: none;
  }
}
@media (max-width: 1440px) {
}
@media (max-width: 1280px) {
}

@media (max-width: 1080px) {
  .banner-carousel {
    height: 500px;
  }
  .slide {
    height: 500px;
  }
  .group-label {
    left: 11%;
    padding: 1em;
  }
  .group-label span {
    font-size: 16px;
  }
  .carousel-navigation {
    left: 11%;
    top: 88.2%;
  }
  .control-button {
    padding: 10px;
    font-size: 12px;
  }
  .prev-button,
  .next-button {
    padding: 10px;
  }
  .control-button i,
  .prev-button i,
  .next-button i {
    font-size: 16px !important;
  }
  .welcome-text p {
    font-size: 16px;
  }
  .custom-dots-container li {
    top: 89.8%;
    left: 80%;
  }
  .custom-dot {
    width: 15px !important;
    height: 15px !important;
  }
  .banner-carousel-dots li {
    margin: 30px;
  }
}

@media (max-width: 992px) {
  .banner-carousel {
    height: 500px;
  }
  .slide {
    height: 500px;
  }
  .group-label {
    left: 11%;
    padding: 1em;
  }
  .group-label span {
    font-size: 18px;
  }
  .carousel-navigation {
    left: 11%;
    top: 88.2%;
  }
  .control-button {
    padding: 10px 16px;
    font-size: 16px;
  }
  .prev-button,
  .next-button {
    padding: 10px 16px;
  }
  .control-button i,
  .prev-button i,
  .next-button i {
    font-size: 16px !important;
  }
  .welcome-text p {
    font-size: 16px;
  }
  .slick-dots {
    top: 89.8%;
    left: 8%;
  }
  .custom-dot {
    width: 15px !important;
    height: 15px !important;
  }
  .banner-carousel-dots li {
    margin: 30px;
  }
}

@media (max-width: 768px) {
  .banner-carousel {
    height: 400px;
  }
  .slide {
    height: 400px;
  }
  .group-label {
    left: 11%;
    padding: 1em;
  }
  .group-label span {
    font-size: 18px;
  }
  .carousel-navigation {
    left: 4%;
    top: 88.2%;
  }
  .control-button {
    padding: 10px 16px;
    font-size: 16px;
  }
  .prev-button,
  .next-button {
    padding: 10px 16px;
  }
  .control-button i,
  .prev-button i,
  .next-button i {
    font-size: 16px !important;
  }
  .welcome-text p {
    font-size: 16px;
  }
  .slick-dots {
    top: 89.8%;
    left: 8%;
  }
  .custom-dot {
    width: 12px !important;
    height: 12px !important;
  }
  .banner-carousel-dots li {
    margin: 30px;
  }
}

@media (max-width: 480px) {
  .banner-carousel {
    height: 500px;
  }
  .slide {
    height: 500px;
  }
  .group-label {
    left: 11%;
    padding: 1em;
  }
  .group-label span {
    font-size: 18px;
  }
  .carousel-navigation {
    left: 4%;
    top: 88.2%;
  }
  .control-button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .prev-button,
  .next-button {
    padding: 5px 10px;
  }
  .control-button i,
  .prev-button i,
  .next-button i {
    font-size: 16px !important;
  }
  .welcome-text p {
    font-size: 16px;
  }
  .slick-dots {
    top: 89.8%;
    left: 30%;
  }
  .custom-dot {
    width: 12px !important;
    height: 12px !important;
  }
  .banner-carousel-dots li {
    margin: 30px;
  }
}

@media (max-width: 320px) {
}
