.events-container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.event-slide{
    display: flex !important;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.event-image-placeholder{
    width: 50%;
    aspect-ratio: 16/9;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 400px;
}
.event-image-placeholder .bi{
    font-size: 72px;
    color: #308113;
    opacity: 0.7;
}
.event-details{
    width: 60%;
}
.event-details h3{
    color: #0c2c48;
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.event-date{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #555;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: calc(1rem* 1.5);
}
.event-date .bi{
    color: #308113;
    margin-right: 10px;
    font-size: 18px;
}
.event-description{
    color: #555;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: calc(1rem * 1.5); 
    margin-bottom: calc(1rem* 2);
}
.ver-mas-button{
    background-color: #308113;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.ver-mas-button .bi{
    margin-right: 8px;
    font-size: 18px;
}
.ver-mas-button:hover{
    background-color: #27ae60;
}
