/* LocationCarousel Component Styles */
.headquarters-container {
    max-width: 1350px;
    margin: 0 auto;
  }
  
  .headquarters-title {
    text-align: center;
    color: #e63e62;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  
  .headquarters-title strong {
    font-weight: 700;
    color: var(--color-text-heading-primary);
  }
  
  .headquarters-container .headquarters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 30px;
  }
  
  .headquarters-container .headquarters-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 1em;
    position: relative;
  }
  
  .headquarters-tabs .tabs-button {
    padding: 0.8rem 1.5rem;
    background-color: #308113 !important;
    color: white;
    border-radius: 8px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    gap: 1rem;
  }
  
  .headquarters-tabs .tabs-button:hover {
    background-color: #08590c !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .headquarters-tabs .tabs-button.active {
    background-color: #08590c !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .headquarters-icon-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
  }
  
  .headquarters-icon-container button {
    background-color: #308113;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headquarters-icon-container button:hover {
    background-color: #08590c;
  }
  
  .headquarters-icon-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Media Queries for LocationCarousel */
  @media (max-width: 1600px) {
    .headquarters-container {
      max-width: 1300px;
    }
  
    .headquarters-title {
      font-size: 1.8em;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 1440px) {
    .headquarters-container {
      max-width: 1100px;
    }
  
    .headquarters-title {
      font-size: 1.8em;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 1280px) {
    .headquarters-container {
      max-width: 1100px;
    }
  
    .headquarters-title {
      font-size: 1.8em;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 1080px) {
    .headquarters-container {
      max-width: 900px;
    }
  
    .headquarters-title {
      font-size: 1.8em;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 992px) {
    .headquarters-container {
      max-width: 900px;
    }
  
    .headquarters-title {
      font-size: 1.8em;
    }
  
    .headquarters-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
      margin-bottom: 30px;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 0.8rem 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .headquarters-container {
      max-width: 720px;
    }
  
    .headquarters-title {
      font-size: 18px;
    }
  
    .headquarters-container .headquarters-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
      margin-bottom: 30px;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 5px 15px;
    }
  }
  
  @media (max-width: 480px) {
    .headquarters-container {
      max-width: 380px;
    }
  
    .headquarters-title {
      font-size: 18px;
    }
  
    .headquarters-container .headquarters-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2em;
      margin-bottom: 30px;
    }
  
    .headquarters-container .headquarters-tabs {
      gap: 5px;
    }
  
    .headquarters-tabs .tabs-button {
      padding: 5px 10px;
    }
    
    .headquarters-icon-container button {
      padding: 5px 10px;
    }
  }