.academic-programs {
  max-width: 1350px;
  margin: 0 auto;
}

.academic-programs-title {
  text-align: center;
  color: #e63e62;
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.1;
  padding: 50px 0;
}

.academic-programs-title strong {
  color: var(--color-text-heading-primary);
  font-weight: 700;
}

.academic-programs .programs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 50px;
}

.academic-programs .programs-grid .program-card {
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  height: 400px;
  perspective: 1500px;
}

.program-card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.program-card.flipped .card-inner {
  transform: rotateY(-180deg);
}

.program-card-front,
.program-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.program-card-front {
  z-index: 1;
}

.program-card-back {
  transform: rotateY(180deg);
  background-color: #000;
  color: white;
}

.programs-grid .program-card .program-card-border {
  position: relative;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.program-card .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.program-card .card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-card .card-overlay .card-title {
  font-size: 1.2em;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 4px;
}

.program-card .card-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-btn-primary-bg);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 10;
  cursor: pointer;
}

.program-card .card-icon i {
  font-size: 1.5rem;
  color: white;
}

.program-card .program-details {
  padding: 1.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
}

.program-details .details-title {
  color: #e63e62;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.program-details .details-description {
  flex: 1;
  margin: 0;
  line-height: 1.6;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.program-details .details-description {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 0.95rem;
}

.program-details .details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.program-details .details-info h2 {
  color: #007bff;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.program-details .details-duration {
  margin-top: auto;
}

@media (max-width: 1600px) {
  .academic-programs {
    max-width: 1300px;
    margin: 0 auto;
  }

  .academic-programs-title {
    font-size: 1.8em;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 1.2em;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 1.3rem;
  }

  .program-details .details-description {
    font-size: 1rem;
  }
}

@media (max-width: 1440px) {
  .academic-programs {
    max-width: 1100px;
  }

  .academic-programs-title {
    font-size: 1.8em;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 1.2em;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 1.3rem;
  }

  .program-details .details-description {
    font-size: 1rem;
  }

  .program-details .details-info h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 1280px) {
  .academic-programs {
    max-width: 1100px;
  }

  .academic-programs-title {
    font-size: 24px;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 1.2em;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 1.3rem;
  }

  .program-details .details-description {
    font-size: 1rem;
  }
}

@media (max-width: 1080px) {
  .academic-programs {
    max-width: 900px;
  }

  .academic-programs-title {
    font-size: 18px;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 18px;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 18px;
  }

  .program-details .details-description {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .academic-programs {
    max-width: 900px;
  }

  .academic-programs-title {
    font-size: 18px;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 18px;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 18px;
  }

  .program-details .details-description {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .academic-programs {
    max-width: 720px;
  }

  .academic-programs-title {
    font-size: 18px;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .program-card .card-overlay .card-title {
    font-size: 18px;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 18px;
  }

  .program-details .details-description {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .academic-programs {
    max-width: 380px;
  }

  .academic-programs-title {
    font-size: 18px;
  }

  .academic-programs .programs-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 1.5rem !important;
  }

  .program-card .card-overlay .card-title {
    font-size: 18px;
  }

  .program-card .card-icon i {
    font-size: 1.5rem;
  }

  .program-card .program-details {
    padding: 1.4rem;
  }

  .program-details .details-title {
    font-size: 18px;
  }

  .program-details .details-description {
    font-size: 1em;
  }
}
