.testimonials-section {
  padding: 20px 0;
  background-color: #ffffff;
}

.testimonials-container {
  max-width: 1350px;
  margin: 0 auto;
}

.testimonials-title {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 20px;
}
.testimonials-title strong {
  color: #081c2e;
  font-weight: 700;
}
.testimonials-description {
  text-align: justify;
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #333;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 15px;
  height: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.testimonial-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.testimonial-text {
  text-align: justify;
  margin-bottom: 40px;
  list-style: 1.5;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #333;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-author {
  margin-top: auto;
}

.testimonial-name {
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #333;
  margin: 0;
  line-height: 44px;
  margin-bottom: 5px;
}

.testimonial-title {
  font-size: 14px;
  color: #666;
  font-style: italic;
}

.testimonials-carousel {
  margin-bottom: 30px;
}

.testimonials-slick-dots {
  z-index: 10;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  margin: 40px 0 0;
}

.testimonials-slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.testimonials-slick-dots li button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: white;
  border: 3px solid #d9d9d9;
  text-indent: -9999px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.testimonials-slick-dots li button:hover,
.testimonials-custom-dot.active {
  background: #d9d9d9;
}

.testimonials-custom-dot.active {
  background-color: #3a8738; /* Green color to match your theme */
}

.testimonials-slick-dots li button::before {
  display: none;
}

.testimonials-custom-dot {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border: 3px solid #d9d9d9;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
}

.testimonial-prev-arrow {
  left: -60px !important;
}

.testimonial-next-arrow {
  right: -60px !important;
}
.testimonial-prev-arrow .bi,
.testimonial-next-arrow .bi {
  color: white;
  font-size: 24px;
}

.testimonials-ver-mas-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-ver-mas {
  margin: 30px 0;
  background-color: #308113;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.375;
  padding: 0.9rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.testimonials-ver-mas .bi {
  margin-right: 8px;
  font-size: 18px;
}

.testimonials-play-pause:hover,
.testimonials-ver-mas:hover {
  background-color: #08590c !important;
}

.testimonials-play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #308113;
  color: white;
  border: none;
  padding: 1.2rem 2rem;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1600px) {
    .testimonials-container {
    max-width: 1300px;
  }
  .testimonials-title {
    font-size: 1.8em;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 150px;
    height: 150px;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonial-prev-arrow {
    left: -20px;
  }

  .testimonial-next-arrow {
    right: -20px;
  }

  .testimonials-custom-dot {
    width: 18px !important;
    height: 18px !important;
  }

  .testimonials-play-pause,
  .testimonials-ver-mas {
    font-size: 16px;
    padding: 10px 16px;
  }

  .testimonials-ver-mas {
    font-size: ;
  }
}

@media (max-width: 1440px) {
  .testimonials-container {
    max-width: 1000px;
  }
  .testimonials-title {
    font-size: 1.8em;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 150px;
    height: 150px;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonial-prev-arrow {
    left: -20px;
  }

  .testimonial-next-arrow {
    right: -20px;
  }

  .testimonials-custom-dot {
    width: 14px !important;
    height: 14px !important;
  }

  .testimonials-play-pause,
  .testimonials-ver-mas {
    font-size: 16px;
    padding: 10px 16px;
  }

  .testimonials-ver-mas {
    font-size: ;
  }
}

@media (max-width: 1280px) {
    .testimonials-container {
    max-width: 1000px;
  }
  .testimonials-title {
    font-size: 2.5em;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 150px;
    height: 150px;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonial-prev-arrow {
    left: -20px;
  }

  .testimonial-next-arrow {
    right: -20px;
  }

  .testimonials-custom-dot {
    width: 14px !important;
    height: 14px !important;
  }

  .testimonials-play-pause,
  .testimonials-ver-mas {
    font-size: 16px;
    padding: 10px 16px;
  }

  .testimonials-ver-mas {
  }
}

@media (max-width: 1080px){
}

@media (max-width: 992px) {
  .testimonials-container {
    max-width: 800px;
  }
  .testimonials-title {
    font-size: 1.8em;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 150px;
    height: 150px;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonial-prev-arrow {
    left: -20px;
  }

  .testimonial-next-arrow {
    right: -20px;
  }

  .testimonials-custom-dot {
    width: 14px !important;
    height: 14px !important;
  }

  .testimonials-play-pause,
  .testimonials-ver-mas {
    font-size: 16px;
    padding: 10px 16px;
  }

  .testimonials-ver-mas {
    font-size: ;
  }
}

@media (max-width: 768px) {
  .testimonials-container {
    max-width: 650px;
  }
  .testimonials-title {
    font-size: 24px;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 100px;
    height: 100px;
  }
  
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonial-prev-arrow {
    left: -34px !important;
  }

  .testimonial-next-arrow {
    right: -34px !important;
  }

  .testimonials-custom-dot {
    width: 14px !important;
    height: 14px !important;
  }

  .testimonials-play-pause,
  .testimonials-ver-mas {
    font-size: 16px;
    padding: 10px 16px;
  }

  .testimonials-ver-mas {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
    .testimonials-container {
    max-width: 380px;
  }
  .testimonials-title {
    font-size: 16px;
  }

  .testimonials-description {
    font-size: 16px;
    max-width: 1000px;
  }

  .testimonial-avatar {
    width: 100px;
    height: 100px;
  }
  .testimonial-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .testimonial-text {
    font-size: 16px;
    overflow: auto;
    padding-right: 8px;
    max-height: 100px;
    position: relative;
    margin-bottom: 0;
  }

  .testimonial-text::-webkit-scrollbar{
    width: 4px;
  }

  .testimonial-text::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .testimonial-name {
    font-size: 16px;
  }

  .testimonial-title {
    font-size: 14px;
  }

  .testimonials-slick-dots{
    max-width: 50%;
    left: 45%;
    margin: 32px 0 0;
  }

  .testimonial-card{
    height: 300px;

  }

  .testimonial-prev-arrow {
    left: -20px;
  }

  .testimonial-next-arrow {
    right: -20px;
  }

  .testimonials-custom-dot {
    width: 12px !important;
    height: 12px !important;
  }

  .testimonials-slick-dots li{
    margin: 0 3px;
  }
  

  .testimonials-play-pause{
    font-size: 12px;
    padding: 5px 10px;

  }
}