@import './styles/Varibles.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg-primary);
}
#root{
    background-color: var(--color-bg-primary);
}