.our-strengths-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.our-strengths-container .our-strengths-title {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 20px;
}
.our-strengths-container .our-strengths-title strong {
  color: #081c2e;
  font-weight: 700;
}

.our-strengths-container .our-strengths-description {
  text-align: justify;
  margin-bottom: 40px;
  line-height: 1.6;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #333;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.our-strengths-container .strengths-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
.our-strengths-container .strength-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f3f7f9;
}
.our-strengths-container .strength-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-strengths-container .strength-icon img {
  max-width: 100%;
  max-height: 100%;
}
.strength-item .strength-title {
  font-size: 14px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  color: #333;
  margin: 0;
  padding: 13px 0;
  line-height: 44px;
}

@media (max-width: 1600px) {
  .our-strengths-container {
    max-width: 1300px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 1.8em;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 16px;
    max-width: 1300px;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 14px;
  }
}

@media (max-width: 1440px) {
  .our-strengths-container {
    max-width: 1100px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 1.8em;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 16px;
    max-width: 1100px;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .our-strengths-container {
    max-width: 1000px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 24px;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 1rem;
    max-width: 1000px;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .our-strengths-container {
    max-width: 900px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 2rem;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 1rem;
    max-width: 1000px;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 1rem;
  }
  .strength-item {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 768px) {
  .our-strengths-container {
    max-width: 720px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 1.8rem;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 1rem;
    max-width: 700px;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 1rem;
  }
  .strength-item {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  .our-strengths-container {
    max-width:380px;
  }
  .our-strengths-container .our-strengths-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .our-strengths-container .our-strengths-description {
    font-size: 1rem;
    max-width: 350px;
    line-height: 1.5;
  }
  .our-strengths-container .strengths-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .our-strengths-container .strength-icon {
    width: 100px;
    height: 100px;
  }
  .our-strengths-container .strength-icon img {
    max-width: 100%;
    max-height: 100%;
  }
  .strength-item .strength-title {
    font-size: 10px;
    padding: 0;
  }
  .strength-item {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 360px) {
}
